/* Contacto */

.section2 {
    display: flex !important;
    justify-content: center !important;
    padding: 100px;
    background-image: url(Imagenes/pexels-vishnu-r-nair-1105666.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: right;
  }
  