#footer-all {
    background-color: rgb(0, 0, 0);
    font-size: 40px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    background-size: 200px !important;
  }
  
  .footer i {
    padding-left: 10px;
  }
  