/* Historia */

.main-bg2 {
    background-image: url(Imagenes/Artflores.png);
    height: 100vh;
    width: 700px;
    background-size: cover;
    background-position: right;
  }
  
  #texto-3 {
    background-color: rgb(134, 52, 52);
    font-size: 44px;
    display: flex;
    justify-content: center;
    padding: 40px;
  }
  
  #Ventajas {
    background-color: rgb(92, 4, 4);
    background-size: auto;
  }
  
  .op1 {
    background-color: antiquewhite;
    border-radius: 84px;
    padding: 65px;
    margin-inline-start: auto;
    width: 100%;
    height: 100%;
  }
  
  .bghistoria {
    background-color: rgb(43, 15, 15);
  }