*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Index */
.collapse{
    display: flex;
    justify-content: flex-end;
}

.nav-link{
    color: rgb(255, 208, 0) !important;
    font-size: 30px !important;
    margin-right: 30px;
    text-shadow: 0 0 10px black;
}
.nav-link:hover{
    color: brown !important;
}
.main-bg{
    background-image: url(Imagenes/DSC08388.png)!important;
    height: 800px;
    width: 600px;
   background-size: cover;
   background-position: right;
 
}
.texto-1{
    background-color: rgba(240, 29, 14, 0.178);
    color: bisque;
    text-shadow: 0 0 10px black;
}
.btn-primary{
    background-color: rgba(165, 42, 42, 0.842) !important;
    border-style: none !important;
    font-size: 40px !important;

}

.btn-primary:hover{
    color: rgba(0, 0, 0, 0.616) !important;
}
.bottonuwu{
    display: flex;
    justify-content: center;
    padding: 400px;

    
}
.Titulo-prom{
    background-color: rgba(170, 42, 42, 0.918);
    background-size: auto;
    font-size: 75px !important;
 
}

#footer-all{
    background-color: rgb(0, 0, 0);
    font-size: 40px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    background-size: 200px !important;
}
.footer i{
    padding-left: 10px;
}
/* Historia */
.main-bg2{
    background-image: url(Imagenes/Artflores.png);
    height: 100vh;
    width: 700px;
    background-size: cover;
    background-position: right;
}
#texto-3{
  background-color: rgb(134, 52, 52);
  font-size: 44px;
  display: flex;
  justify-content: center;
  padding: 40px;
}


#Ventajas{
    background-color: rgb(92, 4, 4);
    background-size: auto;
}

.op1{
    background-color: antiquewhite;
    border-radius: 84px;
    padding: 65px;
    margin-inline-start: auto;
    width: 100%;
    height: 100%;
}

.bghistoria{
    background-color: rgb(43, 15, 15);
}
/* Videos */
.contenedor-videos{
     background-color: brown;
}

.input-group{
    display: flex;
    justify-content: center;
}
.comentario{
    display: flex;
    justify-content: center;
    padding: 60px;

}
/* Contacto */
.section2{
    display: flex !important;
    justify-content: center !important;
    padding: 100px;
    background-image: url(Imagenes/pexels-vishnu-r-nair-1105666.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: right;
    
}