.collapse{
    display: flex;
    justify-content: flex-end;
}

.nav-link{
    color: rgb(255, 208, 0) !important;
    font-size: 30px !important;
    margin-right: 30px;
    text-shadow: 0 0 10px black;
}
.nav-link:hover{
    color: brown !important;
}
.main-bg{
    background-image: url(Imagenes/DSC08388.png)!important;
    height: 800px;
    width: 600px;
   background-size: cover;
   background-position: right;
 
}
.texto-1{
    background-color: rgba(240, 29, 14, 0.178);
    color: bisque;
    text-shadow: 0 0 10px black;
}
.btn-primary{
    background-color: rgba(165, 42, 42, 0.842) !important;
    border-style: none !important;
    font-size: 40px !important;

}

.btn-primary:hover{
    color: rgba(0, 0, 0, 0.616) !important;
}
.bottonuwu{
    display: flex;
    justify-content: center;
    padding: 400px;

    
}
.Titulo-prom{
    background-color: rgba(170, 42, 42, 0.918);
    background-size: auto;
    font-size: 75px !important;
 
}
.Fotos-promociones{
    width: 500px !important;
    height: 500px !important;
    background-color: antiquewhite;
}
.carousel-item .img{
    max-width: 45% !important;
 
 

}
/* Estilos para carrusel en pantalla completa */
@media (min-width: 992px) {
    .carousel {
        width: 50%;
      height: 150vh; /* Ajusta la altura según tus necesidades */

    }
  }
  
  /* Estilos generales */
  .carousel {
    width: 50%; /* Carrusel toma todo el ancho disponible */
  }
  
  .carousel-inner {
    height: 100%; /* Ajusta la altura según tus necesidades */
  }
  
  .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

#footer-all{
    background-color: rgb(0, 0, 0);
    font-size: 40px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    background-size: 200px !important;
}
.footer i{
    padding-left: 10px;
}

.main-bg2{
    background-image: url(Imagenes/Artflores.png);
    height: 100vh;
    width: 700px;
    background-size: cover;
    background-position: right;
}
#texto-3{
  background-color: rgb(134, 52, 52);
  font-size: 44px;
  display: flex;
  justify-content: center;
  padding: 40px;
}


#Ventajas{
    background-color: rgb(92, 4, 4);
    background-size: auto;
}

.op1{
    background-color: antiquewhite;
    border-radius: 84px;
    padding: 65px;
    margin-inline-start: auto;
    width: 100%;
    height: 100%;
}
/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .op1 {
        padding: 20px; /* Reducir el padding para dispositivos móviles */
        margin-bottom: 20px; /* Agregar margen inferior para separar los elementos */
        border-radius: 0; /* Eliminar el redondeo de los bordes */
    }